
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #0F1626;
$darkerGray: #031424;
$darkGray: #30415D;
$gray: #888;
$lightGray: #aaa;
$white: #F5F5F5;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
